<h1>Sign up</h1>

<%= form_for(:session, url: sessions_path,) do |f| %>


  <%= f.text_field :email, class: "form-control", placeholder: "Email address", autofocus: true %>

  <%= f.text_field :password, class: "form-control", placeholder: "Password" %>
  <%= f.text_field :password, class: "form-control", placeholder: "Confirm Password" %>


  <button type="button" class="btn btn-success"><%= link_to "Sign up", categories_show_path %></button>

<% end %>




