<h1>Categories</h1>
<p><%= link_to "New", categories_a_new_path %>
<%= link_to "Edit", categories_a_edit_path %>
<%= link_to "Update", categories_a_update_path %>
<%= link_to "Destroy", coupons_a_destroy_path %>
</p>



<p>choose a category ... </p>

<%= link_to "Go to Coupons...", coupons_a_new_path %>















